<nav class="bg-[#FF5200] flex justify-between items-center p-4">
    <!-- Logo and Brand -->
    <div class="flex items-center">
      <img src="swiggy.jpeg" alt="Swiggy Logo" class="h-full w-full ml-7">
      
    </div>
  
    <!-- Navbar Links -->
    <div class="flex items-center space-x-6">
      <a href="https://www.swiggy.com/corporate/" class="text-white  text-bold hover:underline">Swiggy Corporate</a>
      <a href="https://www.swiggy.com/corporate/our-business/" class="text-white text-bold hover:underline">Partner with us</a>
      <a href="https://play.google.com/store/apps/details?id=in.swiggy.android&hl=en-us&pli=1" class="border border-white text-white px-4 py-1 rounded-lg hover:bg-white hover:text-orange-500 transition-all duration-200">Get the App</a>
      <a [routerLink]="'/singup'" class="bg-black text-bold text-white px-5 py-2 rounded-lg">Sign in</a>
    </div>
  </nav>
  