<nav class="bg-[#FF5200] flex justify-between items-center p-4">
    <!-- Logo and Brand -->
    <div class="flex items-center">
      <img src="swiggy.jpeg" alt="Swiggy Logo" class="h-full w-full ml-7">
      
    </div>
  
    <!-- Navbar Links -->
    <div class="flex items-center space-x-6">
      <a href="https://www.swiggy.com/corporate/" class="text-white  text-bold hover:underline">Swiggy Corporate</a>
      <a href="https://www.swiggy.com/corporate/our-business/" class="text-white text-bold hover:underline">Partner with us</a>
      <a href="#" class="border border-white text-white px-4 py-1 rounded-lg hover:bg-white hover:text-orange-500 transition-all duration-200">Get the App</a>
      
      <a [routerLink]="'/singup'" class="flex flex-wrap bg-white text-bold text-black px-5 py-2 rounded-lg">  <img src="https://tse4.mm.bing.net/th?id=OIP.jixXH_Els1MXBRmKFdMQPAHaHa&pid=Api&P=0&h=180" class="h-6 w-6 pr-2" alt="">You signed In!! </a>
    </div>
  </nav>
  <app-search></app-search>
<app-food-options></app-food-options>
<app-instamart></app-instamart>
<app-rescards></app-rescards>
<app-footer></app-footer>
  